/* Basic reset */
body, h1, h2, h3, p {
    margin: 0; /* Ajustado para 0 para remover o espaço indesejado */
    padding: 0;
    box-sizing: border-box;
}

/* Overall body styling */
body {
    font-family: Arial, sans-serif;
<<<<<<< Updated upstream
    color: #333;
    background-color: #f2f2f2; /* Light grey background for the body */
=======
    color: #333; /* Texto padrão em cinza escuro */
    background-color: #fff; /* Fundo branco para todo o corpo */
>>>>>>> Stashed changes
}

/* Header styling */
header {
    background: linear-gradient(to bottom, #003366, #66cc99); /* Gradiente de azul e verde */
    color: gold; /* Texto dourado */
}

.top-bar {
    padding: 20px;
    text-align: center;
}

.top-bar h1 {
    font-size: 2.5em;
}

.top-bar p {
    font-size: 1.2em;
}

/* Banner styling */
.banner {
    text-align: center;
    padding: 20px;
    /* Removido o fundo cinza */
}

.banner img {
    max-width: 100%;
    height: auto;
}

.address {
    font-style: normal;
    margin-top: 10px;
    font-size: 1em;
    color: #003366; /* Cor azul escuro para o endereço */
}

/* Products section styling */
.products {
    padding: 20px;
    /* Fundo branco para manter a uniformidade com o corpo */
}

.products h2 {
    font-size: 2em;
    color: #003366; /* Azul escuro para o título */
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    text-align: center;
    margin: 10px;
    flex: 1 1 200px; /* Responsividade */
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    font-size: 1.5em;
    color: #003366; /* Azul escuro para o título do produto */
}

.product-item p {
    font-size: 1.2em;
}

/* History section styling */
.history {
    padding: 20px;
    /* Fundo branco para manter a uniformidade com o corpo */
}

.history h2 {
    font-size: 2em;
    color: #003366; /* Azul escuro para o título */
}

/* Events section styling */
.events {
    padding: 20px;
    /* Fundo branco para manter a uniformidade com o corpo */
}

.events h2 {
    font-size: 2em;
    color: #003366; /* Azul escuro para o título */
}

/* Footer styling */
footer {
    padding: 20px;
    text-align: center;
    background-color: #003366; /* Fundo azul escuro */
    color: gold; /* Texto dourado */
}

footer a {
    color: gold; /* Links dourados */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}
